/*
This file contatins the styling for the sign up
page on timeline.
/*

/*
This styling file follows the "outside in" convention.
CSS properties in this file are ordered by how much they
impact the selected elements or other elements aroud them.
*/

/*
The ordering is as follows:
  - Layout Properties
  - Box Model Properties
  - Visual Properties
  - Typography Properties
  - Miscellaneous properties
*/

.about-container {
  max-width: 55rem; /* Allows the column to be resizable */
  margin: 0 auto;
  padding-top: 6.5rem;
}

.about-h3 {
  color: #222; /* Black. */
  font-size: 1.6rem;
  font-weight: 300;
  padding: 1rem 1rem 0rem 1rem; /* top, right, bottom, left */
}

h4 {
  color: #222; /* Black. */
  font-size: 1.3rem;
  font-weight: 300;
  padding: 1rem 1rem 0rem 1rem; /* top, right, bottom, left */
}

p {
  color: #3A3A3A; /* A nice dark grey. */
  padding: 0.5rem 1rem 0.5rem 1rem; /* top, right, bottom, left */
}

code {
  background-color: #eee;          /* Light grey */
  border-radius: 0.2em;            /* Round edges or box */
  font-family: courier, monospace; /* Change font */
  padding: 0 0.2em;                /* Add padding between text and box */
}

p a {
  color: #1e6bb8; /* A nice blue */
  text-decoration: none; /* Links are not underlined by default */
  outline: transparent;
}

p a:hover {
  text-decoration: underline; /* Links are underlined when hovered */
}

#avatar-images {
  display:flex;
  justify-content: space-around;
  align-content: center;
  padding-top: 2rem;
  padding-bottom: 0.5rem;
}

#avatar-image {
  width: 10rem;
  height: 10rem;
}

#avatar-image-4 {
  width: 10rem;
  height: 10rem;
  padding-right: 1.5rem;
}

#caption {
  text-align: center;
  color: #3A3A3A;
  font-size: 0.8rem;
  padding-right: 1rem;
  padding-bottom: 2rem;
}

#progress-images {
  display: flex;
  justify-content: center;
  align-content: center;
  padding-top: 2rem;
  padding-bottom: 0.5rem;
}

#progress-image {
  width: 10rem;
  height: 10rem;
  border-radius: 0.1rem;
  margin-right: 0.8rem;
  margin-left: 0.8rem;
}

.progress-caption {

}
