/*
This file contatins the styling for the sign up
page on timeline.
/*

/*
This styling file follows the "outside in" convention.
CSS properties in this file are ordered by how much they
impact the selected elements or other elements aroud them.
*/

/*
The ordering is as follows:
  - Layout Properties
  - Box Model Properties
  - Visual Properties
  - Typography Properties
  - Miscellaneous properties
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-input-placeholder { /* Edge */
  color: #c6c6c6;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #c6c6c6;
}

::placeholder {
  color: #c6c6c6;
}


body {
  font-family: 'Open Sans', sans-serif;
}

/* Styling for the navigation bar */
.navbar {
  font-size: 1.1rem;
  background-image: linear-gradient(310deg, #181919 0%, #393a3a  100%);
  display: flex;
  justify-content: space-between;
  height: 4rem;
  align-items: center;
}

.sub-navbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

#wanglogo {
  margin-left: 1.5rem;
  background-image: url("icons/timelinewang.svg");
  width: 10rem;
  height: 2rem;
  z-index: 1;
}

#wanglogo:hover {
  background-image: url("icons/timelinewang.svg");
  opacity: 0.6;
}

.main-nav {
    list-style-type: none;
    display: flex;
    margin-right: 30px;
    flex-direction: row;
    justify-content: flex-end;
}

.active {
  display: block;
}

.main-nav li {
    text-align: center;
    margin: 0;
    margin-left: 2em;
    min-width: 3rem;
    white-space: nowrap;
}

.nav-links {
    text-decoration: none;
    color: white;
}

.navbar-logo {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.7);
  display: inline-block;
  font-size: 22px;
  margin-left: 20px;
  margin-top: 0;
}

.nav-links:hover {
  color: #ccc;
}

/* Sign up form */
.logo {
  height: 10rem;
}

.logo-container {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.login-item {
}

#form-container {
  width: 25rem;
  margin-right: auto;
  margin-left: auto;
  margin-top: 5%;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

#form-login {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.form-field {

}

.error-message {
  width: 18rem;
  margin-bottom: 0.5rem;
  text-align: left;
  margin-left: 0.9rem;
  font-size: 0.8rem;
  color: #ff4c4c;
}

.hidden {

}

.form-input {
  width: 18rem;
  height: 2rem;
  border: none;
  padding: 0rem 0.5rem 0rem 0.5rem;
  border-radius: 0.5rem;
  background-color: rgba(0, 0, 0, 0.03);

  font-size: 1.1rem;
  margin-bottom: 0;
  outline: none;
  color: #383838;
}

.form-input:focus {
  outline: none;
  border:0.05rem solid rgb(30, 211,252, 0.5);
}

#submit-button {
  margin: 0.6rem auto 0rem auto;
  width: 8.5rem;
  height: 3rem;

  border-radius: 0.3rem;
  border-color: transparent;
  outline: none;

  transition: 0.5s;
  background-size: 200% auto;
  /* text-shadow: 0px 0px 10px rgba(0,0,0,0.2);*/
  /* box-shadow: 0 0 20px #eee; */
  background-color: transparent;

  color: #515151;
  font-size: 1.1rem;
  font-weight: 500;
  cursor: pointer;
  font-weight: 500;
  transition: all .5s ease-in-out;
}

#submit-button:hover {
  background-position: right center;
  cursor: pointer;
  /* transform: scale(1.1); */
  color: #878787;
}
