<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-GB" lang="en-GB">
  <head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="profile.css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto&display=swap"/>
    <title>title</title>
    <link rel="icon" href="icons/tl.svg" type="image/x-icon" />
    <script async="false" defer="defer" src="profile.js"></script>
  </head>
  <body>

    <ul class="navbar">
      <div id="left-navbar">
        <li><a href="/"><div id="wanglogo"></div></a></li>
        <li><a href="/profile">Profile</a></li>
        <li><a href="/about">About</a></li>
      </div>
      <div id="right-navbar"></div>
    </ul>

    <div class="container">
      <div class="profile">
        <div class="avatar-container">
          <img alt="" class="avatar" src="avatars/avatar-4.png"/>
        </div>
        <div class="info-container">
          <div class="name"></div>
          <div class="username"></div>
          <div class="number-contributions">
            <img alt="" id="contribution-icon" src="icons/contributions.svg"/>
          </div>
          <div class="date-joined">
            <img alt="" id="member-icon" src="icons/member.svg"/>
          </div>
        </div>
      </div>

      <div class="contributions">
        <div class="contributions-navbar-container">
          <div class="contributions-navbar">
            <div class="dropdown">
              <button class="dropbtn">
                <img alt="" id="sort-icon" src="icons/sort.svg"/>
                <span id="sortby-button-text">Sort By</span>
              </button>
              <div class="dropdown-content">
              <a href="#">Historical date</a>
              <a href="#">Submission date</a>
              </div>
            </div>
            <button class="contributions-navbar-items" id="contribution-button">
              <img alt="" id="new-contribution-icon" src="icons/plus.svg"/>
              <span id="contribution-button-text">New Contribution</span>
            </button>
          </div>
        </div>
      </div>
    </div>

    <div id="modal-id" class="modal">
      <form id="form" enctype="multipart/form-data">

        <!-- errors container coming in here -->

        <ul class="flex-outer">
          <li id="contribution-quote">
            "We are not makers of history.</br>We are made by history."
          </li>
          <li id="quote-author"> Martin Luther King Jr.
          </li>
          <li>
            <label for="title" class="contribution-label" id="form-title">Title</label>
          </li>
          <li>
            <input type="text" name="title" placeholder="" class="contribution-input" id="title-textbox"/>
          </li>
          <li>
            <label for="date" id="form-date">Date</label>
            <label for="date" class="contribution-label" id="form-image">Image
            </label>
          </li>
          <li>
            <input type="date" name="date" id="date-textbox"/>
            <label id="custom-file-upload">
              <input type="file" name="image">
              Choose Image
            </label>
          </li>
          <li>
            <label for="description" class="contribution-label" id="form-description">Description</label>
          </li>
          <li>
            <textarea rows="4" cols="50" name="description"  id="description-textbox" form="form" placeholder="" class="contribution-input"></textarea>
          </li>
          <div id="the-count">
            <span id="current">0</span>
            <span id="maximum">/ 300</span>
          </div>
          <li>
            <button type="submit" id="form-submit">Submit</button>
          </li>
        </ul>
      </form>
    </div>

  </body>
</html>
