/*
This file contains the styling for the profile/contributions
page on timeline.wang.
*/

/*
This styling file follows the "outside in" convention.
CSS properties in this file are ordered by how much they
impact the selected elements or other elements aroud them.
*/

/*
The ordering is as follows:
  - Layout Properties
  - Box Model Properties
  - Visual Properties
  - Typography Properties
  - Miscellaneous properties
*/

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif; /* Using Open Sans for the entire page. */
}

a {
  outline: transparent;

  color: #1e6bb8; /* A nice blue */
  text-decoration: none; /* Links are not underlined by default */
}

a:hover {
  text-decoration: underline; /* Links are underlined when hovered */
}

.container {      /* Container for profile and contributions */
  display: flex;
  margin: 0 auto;

  max-width: 70rem;
  min-width: 70rem;
}

/*----------- Profile ------------*/

.profile {                /* Profile sizing and margins */
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  position: sticky;       /* Making the profile sticky */
  top: 1rem;               /* stays 1em from top of screen */

  width: 19rem;
  min-width: 19rem;
  height: 30rem;

  margin: 2.5rem 0rem 0rem 1rem;
  border-radius: 0.3rem;
}

.avatar-container {
  display: flex;
}

.avatar {                 /* Avatar photo */
  display: flex;

  width: 16rem;
  height: 16rem;
  margin: 1.2rem 2rem 1.5rem 0rem;

  border-radius: 0.3rem;
  border: 1px solid #ededed;
}

.info-container {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  margin-left: 3%;
}

.name {                   /* First and last name */
  height: 1.6rem;
  margin-bottom: 0rem;
  max-width: 14rem;

  font-weight: 570;
  font-size: 1.5rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  overflow-wrap: break-word !important;

}

.username {               /* simple username in a lighter color */
  height: 0.8rem;
  max-width: 14rem;
  margin-bottom: 1rem;
  padding-bottom: 1.9rem;
  padding-top: 0rem;

  color: #878481;
  border-bottom: 0.05rem solid #ededed;

  font-size: 1.1rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  overflow-wrap: break-word !important;
}

.number-contributions {      /* number of contributions made by the user */
  display: flex;
  justify-content: flex-start;
  align-items: center;

  height: 0.6rem;
  margin-bottom: 1rem;
  padding-top: 0.6rem;

  font-size: 0.9rem;
}

#contribution-icon {         /* icon for contributions */
  width: 1rem;
  height: 1rem;
  margin-right: 0.5rem;
  padding-bottom: 0.1rem;
}

.date-joined {               /* date the user made an account */
  display: flex;
  justify-content: flex-start;
  align-items: center;

  height: 0.6rem;
  padding-bottom: 1.4rem;

  font-size: 0.9rem;
}

#member-icon {              /* member-icon accompanying the date joined */
  width: 1rem;
  height: 1rem;
  margin-right: 0.5rem;
  padding-bottom: 0.1rem;
}

/*--------- Contributions ----------*/

.contributions {         /* Contribution sizing and margins. Using flex to vertically align contributions */
  display: flex;
  justify-content: center, space-between;
  flex-direction: column;

  width: 100%;
  height: 100%;

  margin: 1.5rem 1rem 0rem 1rem;
}

.contributions-navbar-container {           /* stickied container for contributions navbar */
  display: flex;
  background-color: #fff;
  position: sticky;              /* Sticking the container to the top of the screen */
  top: 0rem;

  height: 4rem;
  margin-bottom: 1rem;
}

.contributions-navbar {           /* navigation bar for contributions */
  display: flex;
  justify-content: flex-end;
  flex: auto;
  position: sticky;
  top: 1rem;

  height: 3rem;
  margin-top: 1rem;

  background-color: #ffffff;
  border-bottom: 0.05rem solid #cccccc;
}

.contributions-navbar-items {        /* styling for the items in contributions navigation bar */
    display: block;

    padding: 0rem 1rem;

    border: 0.15rem solid transparent;
    border-width: 0rem 0rem 0.15rem 0rem;
    outline: none;
    color: #666666;
    background-color: #ffffff;

    font-family: inherit;
    font-size: 1.05rem;
    text-align: center;
    text-decoration: none;

    cursor: pointer;
}

.contributions-navbar-items:hover {          /* hover events for contributions navbar */
  border-width: 0rem 0rem 0.15rem 0rem;
  border-color: #fff #fff #00c3ff #fff;
  color: #2d2d2d;
}

#sort-icon {          /* icon for sorting button */
  height: 1rem;
  width: 1rem;
  margin-right: 0.5rem;
  padding-top: 0.1rem;
}

#sortby-button-text {
  padding-right: 1rem;
}

#new-contribution-icon {        /* icon for new contribution button */
  height: 1rem;
  width: 1rem;
  margin-right: 0.5rem;
  padding-top: 0.1rem;
}

#contribution-button-text {
  padding-right: 0.8rem;
}

/* TESTING */
.dropdown .dropbtn {
  font-size: 1.05rem;
  outline: none;
  padding: 12px 16px;
  background-color: inherit;
  font-family: inherit;
}

.dropbtn {
  display:block;
  border: 0.15rem solid transparent;
  border-width: 0rem 0rem 0.15rem 0rem;
  padding: 0rem 0.1rem;
  margin-bottom: 0rem;

  outline: none;
  color: #666666;
  background-color: #ffffff;

  font-family: inherit;
  font-size: 1.05rem;
  text-align: center;
  text-decoration: none;

  cursor: pointer;
}

.dropbtn:hover {
  border-width: 0rem 0rem 0.15rem 0rem;
  border-color: #fff #fff #00c3ff #fff;
  color: #2d2d2d;
}

.dropdown-content {
  display: none;
  /* right: 0; */
  position: absolute;
  background-color: #ffffff;
  min-width: 160px;
  z-index: 1;
  border: 0.05rem solid;
  border-color: #fff #ddd #ddd #ddd;
  border-radius: 0rem 0rem 0.3rem 0.3rem;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a {
  float: none;
  padding: 7px 16px 7px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  color: #666666;
}

.dropdown-content a:hover {
  color: #000;
}
/*------- contribution card -------*/

.contribution {           /* Styling for each contribution */
  display: flex;
  justify-content: flex-start;
  flex-direction: column;

  height: 8.9em;
  margin-bottom: 1em;
  padding: 0.65em 1.65em 0em 0.65em;

  border: 1px solid #ddd;
  border-radius: 0.3em;
  background-color: #fcfcfc;
}

.image-and-description {    /* styling for contribution desription */
  display: flex;
  justify-content: flex-start;
  height: 8rem;
}

.contribution-date {      /* styling for contribution date */
  flex: 1 1 auto;

  height: 0.5rem;
  margin-top: 0.1rem;

  color: #878481;

  text-align: right;
  font-size: 0.6rem;
}

.contribution-image {       /* styling for contribution image */
  width: 8rem;
  min-width: 8rem;
  height: 8rem;
  min-height: 8rem;
  margin-right: 1rem;

  border-radius: 0.15rem;
}

.date-title-text {        /* styling for date, title and text container */
  display: flex;
  justify-content: flex-start;
  flex-direction: column;

  height: 8rem;
  width: 100%; /* MAYBE REMOVE */
}

.date-title {             /* styling for date and title container */
  display: flex;
  justify-content: flex-start;

  width: 100%; /* MAYBE REMOVE */
  height: 1.5rem;
  margin-bottom: 0.2rem;
}

.historical-date {        /* styling for historical date */
  display: flex;
  flex: 0 1 auto;

  margin-right: 1.5rem;

  font-size: 1rem;
  font-weight: 580;

  white-space: nowrap;
}

.contribution-title {
  max-width: 25rem;
  font-size: 1rem;
  font-weight: 400;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  overflow-wrap: break-word !important;
}

.description {
  height: 6.5rem;
  max-width: 36.5rem;
  padding-top: 0.3rem;

  border-top: 0.1rem solid #ddd;
  color: #424242;

  font-size: 0.8rem;
  overflow-wrap: break-word !important;
}

/* The Modal (background) */
.modal {
  display: flex;
  flex-direction: column;
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(255,255,255,0.1); /* Black w/ opacity */
  padding-top: 60px;
  border: none;
}

/* Modal form */
#form {
  width: 34rem;
  height: 36rem;
  margin: 2% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border-radius: 0.3rem;

  /* top, transparent blue, faked with gradient */
  background: rgba(10, 10, 10, 0.95);
}

.flex-outer {
  display: flex;
  flex-direction: column;
  align-items: left;
}

.flex-outer > li {
  display: flex;
}

.contribution-label {
  color: #white;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  font-size: 0.9rem;
  flex: 0 0 20rem;
  font-family: 'Open Sans';
  margin-bottom: 0.2rem;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 1; /* Firefox */
}

.contribution-input {
  margin-left: auto;
  margin-right: auto;
  flex: 0 0 20rem;
  height: 1.2rem;

  border: none;
	padding: 0.2rem 0.2rem;
	border-radius: 0.3rem;
	background:rgba(255,255,255,0.1);
  caret-color: white;
  color: white;
  font-size: 0.9rem;
}

#contribution-quote {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin-top: 3rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0.4rem;
  width: 24rem;
  color: #eee;
  /* font-style: italic; */
  font-weight: 300;
  font-family: 'Roboto', sans-serif;
  font-size: 1.1rem;
}

#quote-author {
  margin-bottom: 3rem;
  margin-left: auto;
  margin-right: auto;
  font-size: 0.8rem;
  color: #bbb;
}

#form-title {
  color: #ddd;
  font-size: 1rem;
  font-weight: 500;
}

#title-textbox {
  margin-bottom: 0rem;
  border: 0.05rem solid transparent;
  color: #ddd;
}

#title-textbox:focus {
    outline: none;
    border: 0.05rem solid rgb(30, 211,252, 0.5);
  }

#title-error {
  font-size: 0.7rem;
  margin-bottom: 0.5em;
  color: #ff4f4f;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  flex: 0 0 20rem;
  height: 0.7rem;
}

#form-date {
  width: 4rem;
  margin-left: 7rem;
  text-align: left;
  font-size: 0.9rem;
  font-family: 'Open Sans';
  margin-bottom: 0.2rem;
  color: #ddd;
  font-size: 1rem;
  font-weight: 500;
}

#date-textbox {
  width: 7.4rem;
  margin-left: 6.87rem;
  margin-bottom: 0rem;
	padding: 0.2rem 0.2rem;
	border-radius:0.3rem;
	background:rgba(255,255,255,0.1);
  caret-color: white;
  color: #ddd;
  font-size: 0.9em;
  border: 0.05em solid transparent;
}

#date-textbox:focus {
    outline: none;
    border:0.05rem solid rgb(30, 211,252, 0.5);
  }

#date-image-error {
  display: flex;
  justify-content: flex-start;
  flex: 0 0 20rem;
  margin-bottom: 0.3em;
  margin-left: auto;
  margin-right: auto;
  height: 0.7rem;
}

#date-error {
  font-size: 0.7rem;
  width: 14.4em;
  text-align: left;
  color: #ff4f4f;
}

#image-error {
  font-size: 0.7rem;
  text-align: left;
  color: #ff4f4f;
}

#form-image {
  margin-left: 7.9rem;
  margin-bottom: 0rem;
  color: #ddd;
  font-size: 1rem;
  font-weight: 500;
}

input[type="file"] {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* 1 */
  clip-path: inset(50%);
  border: 0;
}

#form-description {
  color: #ddd;
  font-size: 1rem;
  font-weight: 500;
}

#description-textbox {
  min-width: 19.75rem;
  max-width: 19.75rem;
  flex: 0 0 19.5rem;
  height: 7rem;
  background: rgba(255,255,255,0.1);
  border: 0.05rem solid transparent;
  border-radius: 0.3rem;
  padding: 0.3rem 0.3rem;
  resize: none;
  caret-color: white;
  color: #ddd;
}

#description-textbox:focus {
  outline: none;
  border:0.05rem solid rgb(30, 211,252, 0.5);
}

#description-error-counter-container {
  display: flex;
  justify-content: space-between;
  flex: 0 0 20rem;
  margin-bottom: 0.3em;
  margin-left: auto;
  margin-right: auto;
}

#description-error {
  font-size: 0.7rem;
  text-align: left;
  color: #ff4f4f;
  height: 0.7rem
}

#the-count {
  display: flex;
  justify-content: flex-start;

  padding: 0.1rem 0 0 7rem;
  font-size: 0.875rem;
}

#current {
  color: #fff;
}

#maximum {
  color: #fff;
}

#form-submit {
    margin: 1.5rem auto 0rem auto;
    width: 8.5rem;
    height: 3rem;

    border-radius: 0.3rem;
    border-color: transparent;
    outline: none;

    transition: 0.5s;
    background-size: 200% auto;
    /* text-shadow: 0px 0px 10px rgba(0,0,0,0.2);*/
    /* box-shadow: 0 0 20px #eee; */
    background-color: transparent;
    background-image: linear-gradient(to right, rgba(30, 211,252, 0.5)  0%, rgba(64, 137, 221, 1) 51%, rgba(30, 211,252, 0.5) 100%);

    color: white;
    font-size: 1.3rem;
    font-weight: 500;
}

#form-submit:hover {
  background-position: right center;
  cursor: pointer;
}

#custom-file-upload {
  width: 7.4rem;
  height: 1.1rem;
  border-radius: 0.3rem;
  margin-left: 2.2rem;
  background-color: rgba(255,255,255,0.1);
  display: inline-block;
  padding: 0.2rem 0.4rem;
  border: 0.05rem solid transparent;
  cursor: pointer;
  font-size: 0.8rem;
  color: #ddd;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  overflow-wrap: break-word !important;
}

#custom-file-upload:focus {
  outline: none;
  border: 0.05rem solid rgb(30, 211,252, 0.5);
}

#custom-file-upload:focus-within {
  border:0.05rem solid rgb(30, 211,252, 0.5);
}

/*---------- Styling Errors ----------*/

#errors-container {
  display: flex;
  background-color: rgb(255,100,100,1);
  position: absolute;
  margin-left: 5rem;
  margin-top: 2rem;
  flex: 0 1 auto;
}

#error-list {
  list-style: none;
  flex: 0 1 auto;
}

.error-response {
  color: #fff;
  text-align

}
