<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-GB" lang="en-GB">
  <head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="profile.css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans"/>
    <title><%= user.username %></title>
    <link rel = "icon" type = "image/png" href = "/images/apple.png">
  </head>
  <body>

    <ul class="navbar">
      <li><a href="/"><strong><em>tl</em></strong></a></li>
      <li><a href="/profile">Profile</a></li>
      <li><a href="/about">About</a></li>
      <% if (!user) { %>
      	<li class="navbar-right"><a href="/login">Log in</a></li>
        <li class="navbar-right"><a href="/signup">Sign up</a></li>
      <% } else { %>
      	<li class="navbar-right"><a href="/logout">Log out</a></li>
      <% } %>
    </ul>

    <div class="container">
      <div class="profile">
        <img class="avatar" src="images/ainsley.jpeg"/>
        <div class="name">Ainsley Rutterford</div>
        <div class="username">Ziimzy</div>
        <div class="number-contributions">26 contributions</div>
        <div class="date-joined">Member since May 2019</div>
      </div>
      <div class="contributions">

        <div class="contributions-navbar-container">
          <div class="contributions-navbar">
          </div>
        </div>

        <div class="contribution">
          <div class="image-and-description">
            <img class="contribution-image" src="images/turing.jpg"/>
            <div class="date-title-text">
              <div class="date-title">
                <div class="historical-date">April 1989</div>
                <div class="contribution-title">Tiananmen Square  .</div>
              </div>
              <div class="description">Bletchley Park is a nineteenth-century mansion and estate near Milton Keynes in Buckinghamshire, constructed during the years following 1883 for the English financier and politician Sir Herbert Samuel Leon in the Victorian Gothic, Tudor, and Dutch Baroque styles, on the site of older buildings of the same name.</div>
            </div>
          </div>
          <div class="contribution-date">3 months ago</div>
        </div>

        <div class="contribution">
          <div class="image-and-description">
            <img class="contribution-image" src="images/turing.jpg"/>
            <div class="date-title-text">
              <div class="date-title">
                <div class="historical-date">September 1939</div>
                <div class="contribution-title">Alan Turing's brilliancy at Blechely Park.</div>
              </div>
              <div class="description">blah blah blah blah blah blah blah blah blah blah blah lbaljsn jdflj rjfj fo  soerlwj</div>
            </div>
          </div>
          <div class="contribution-date">21st May 2019</div>
        </div>

        <div class="contribution">
          <div class="image-and-description">
            <img class="contribution-image" src="images/turing.jpg"/>
            <div class="date-title-text">
              <div class="date-title">
                <div class="historical-date">September 1939</div>
                <div class="contribution-title">Alan Turing's brilliancy at Blechely Park.</div>
              </div>
              <div class="description">blah blah blah blah blah blah blah blah blah blah blah lbaljsn jdflj rjfj fo  soerlwj</div>
            </div>
          </div>
          <div class="contribution-date">21st May 2019</div>
        </div>

        <div class="contribution">
          <div class="image-and-description">
            <img class="contribution-image" src="images/turing.jpg"/>
            <div class="date-title-text">
              <div class="date-title">
                <div class="historical-date">September 1939</div>
                <div class="contribution-title">Alan Turing's brilliancy at Blechely Park.</div>
              </div>
              <div class="description">blah blah blah blah blah blah blah blah blah blah blah lbaljsn jdflj rjfj fo  soerlwj</div>
            </div>
          </div>
          <div class="contribution-date">21st May 2019</div>
        </div>

        <div class="contribution">
          <div class="image-and-description">
            <img class="contribution-image" src="images/turing.jpg"/>
            <div class="date-title-text">
              <div class="date-title">
                <div class="historical-date">September 1939</div>
                <div class="contribution-title">Alan Turing's brilliancy at Blechely Park.</div>
              </div>
              <div class="description">blah blah blah blah blah blah blah blah blah blah blah lbaljsn jdflj rjfj fo  soerlwj</div>
            </div>
          </div>
          <div class="contribution-date">21st May 2019</div>
        </div>

        <div class="contribution">
          <div class="image-and-description">
            <img class="contribution-image" src="images/turing.jpg"/>
            <div class="date-title-text">
              <div class="date-title">
                <div class="historical-date">September 1939</div>
                <div class="contribution-title">Alan Turing's brilliancy at Blechely Park.</div>
              </div>
              <div class="description">blah blah blah blah blah blah blah blah blah blah blah lbaljsn jdflj rjfj fo  soerlwj</div>
            </div>
          </div>
          <div class="contribution-date">21st May 2019</div>
        </div>

        <div class="contribution">
          <div class="image-and-description">
            <img class="contribution-image" src="images/turing.jpg"/>
            <div class="date-title-text">
              <div class="date-title">
                <div class="historical-date">September 1939</div>
                <div class="contribution-title">Alan Turing's brilliancy at Blechely Park.</div>
              </div>
              <div class="description">blah blah blah blah blah blah blah blah blah blah blah lbaljsn jdflj rjfj fo  soerlwj</div>
            </div>
          </div>
          <div class="contribution-date">21st May 2019</div>
        </div>

        <div class="contribution">
          <div class="image-and-description">
            <img class="contribution-image" src="images/turing.jpg"/>
            <div class="date-title-text">
              <div class="date-title">
                <div class="historical-date">September 1939</div>
                <div class="contribution-title">Alan Turing's brilliancy at Blechely Park.</div>
              </div>
              <div class="description">blah blah blah blah blah blah blah blah blah blah blah lbaljsn jdflj rjfj fo  soerlwj</div>
            </div>
          </div>
          <div class="contribution-date">21st May 2019</div>
        </div>

        <div class="contribution">
          <div class="image-and-description">
            <img class="contribution-image" src="images/turing.jpg"/>
            <div class="date-title-text">
              <div class="date-title">
                <div class="historical-date">September 1939</div>
                <div class="contribution-title">Alan Turing's brilliancy at Blechely Park.</div>
              </div>
              <div class="description">blah blah blah blah blah blah blah blah blah blah blah lbaljsn jdflj rjfj fo  soerlwj</div>
            </div>
          </div>
          <div class="contribution-date">21st May 2019</div>
        </div>

        <div class="contribution">
          <div class="image-and-description">
            <img class="contribution-image" src="images/turing.jpg"/>
            <div class="date-title-text">
              <div class="date-title">
                <div class="historical-date">September 1939</div>
                <div class="contribution-title">Alan Turing's brilliancy at Blechely Park.</div>
              </div>
              <div class="description">blah blah blah blah blah blah blah blah blah blah blah lbaljsn jdflj rjfj fo  soerlwj</div>
            </div>
          </div>
          <div class="contribution-date">21st May 2019</div>
        </div>

        <div class="contribution">
          <div class="image-and-description">
            <img class="contribution-image" src="images/turing.jpg"/>
            <div class="date-title-text">
              <div class="date-title">
                <div class="historical-date">September 1939</div>
                <div class="contribution-title">Alan Turing's brilliancy at Blechely Park.</div>
              </div>
              <div class="description">blah blah blah blah blah blah blah blah blah blah blah lbaljsn jdflj rjfj fo  soerlwj</div>
            </div>
          </div>
          <div class="contribution-date">21st May 2019</div>
        </div>

      </div>
    </div>
  </body>
</html>
