* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif; /* Using Open Sans for the entire page. */
}

a {
  color: #1e6bb8; /* A nice blue */
  text-decoration: none; /* Links are not underlined by default */
  outline: transparent;
}

a:hover {
  text-decoration: underline; /* Links are underlined when hovered */
}

.navbar {                  /* Navigation Bar Style */
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.navbar li {
  float: left;
}

.navbar-right {
  float: right !important;
}

.navbar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 1em 1em;
  text-decoration: none;
}

.navbar li a:hover {
  color: #ccc;
}

.container {      /* Container for profile and contributions */
  display: flex;
  margin: 0 auto;
  max-width: 70rem;
  min-width: 70rem;
  height: 100%; /* MAYBE REMOVE */
}

.profile {                /* Profile sizing and margins */
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  position: sticky;
  top: 1em;
  width: 19em;
  min-width: 19em;
  height: 30em;
  margin-left: 1em;
  margin-top: 2.5em;
  border-radius: 0.3em;
  /* background-color: #fcfcfc; */
  /* border: 1px solid #ddd; */
}

.avatar {
  display: flex;
  border-radius: 0.2em;
  border: 0em solid #fcfcfc;
  width: 16em;
  height: 16em;
  margin-top: 1.2em;
  margin-left: 0em;
  margin-right: 2em;
  margin-bottom: 1.5em;
}

.name {
  display: flex;
  flex: 0 1 auto;
  height: 0.7em;
  margin-left: 0em;
  margin-bottom: 0.5em;
  font-weight: 570;
  font-size: 1.5em;
}

.username {
  color: #878481;
  display: flex;
  border-bottom: 0.05em solid #ededed;
  padding-bottom: 1.6em;
  max-width: 14.5em;
  height: 0.8em;
  margin-left: 0em;
  margin-bottom: 1em;
  font-size: 1.1em;
}

.number-contributions {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 0.6em;
  margin-left: 0em;
  margin-bottom: 1em;
  font-size: 0.9em;
}

#contribution-icon {
  height: 1em;
  width: 1em;
  margin-right: 0.5em;
  padding-bottom: 0.1em;
}

.date-joined {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 1.4em;
  height: 0.6em;
  margin-left: 0em;
  margin-bottom: 0em;
  font-size: 0.9em;
}

#member-icon {
  height: 1em;
  width: 1em;
  margin-right: 0.5em;
  padding-bottom: 0.1em;
}

.contributions {         /* Contribution sizing and margins. Using flex to vertically align contributions */
  display: flex;
  justify-content: center, space-between;
  flex-direction: column;
  margin-top: 1.5em;
  height: 100%; /* MAYBE REMOVE */
  width: 100%; /* MAYBE REMOVE */
  margin-left: 1em;
  margin-right: 1em;
}

.contributions-navbar-container {
  display: flex;
  background-color: #fff;
  position: sticky;
  top:0em;
  height: 4em;
  margin-bottom: 1em;
}

.contributions-navbar {
  display: flex;
  justify-content: flex-end;
  position: sticky;
  flex: auto;
  top: 1em;
  height: 3em;
  margin-top: 1em;
  background-color: white;
  border-bottom: 0.05em solid #cccccc;
}

.contributions-navbar-items {
    display: flex;
    justify-content: flex-start;
    border: 0.15em solid transparent;
    display: inline-block;
    background-color: #ffffff;
    padding: 0rem 1rem;
    text-align: center;
    text-decoration: none;
    color: #666666;
    font-family: inherit;
    font-size: 0.9rem;
    cursor: pointer;
    outline: none;
    border-width: 0em 0em 0.15em 0em;
}

.contributions-navbar-items:hover {
  border-width: 0em 0em 0.15em 0em;
  border-color: #fff #fff #00c3ff #fff;
  color: #2d2d2d;
}

#sort-icon {
  height: 1em;
  width: 1em;
  margin-right: 0.5em;
  padding-top: 0.1em;
}

#sortby-button-text {
  padding-right: 1em;
}

#new-contribution-icon {
  height: 1em;
  width: 1em;
  margin-right: 0.5em;
  padding-top: 0.1em;
}

#contribution-button-text {
  padding-right: 0.8em;
}

.contribution {           /* Styling for each contribution */
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  border: 1px solid #ddd;
  background-color: #fcfcfc;
  height: 8.9em;
  margin-bottom: 1em;
  border-radius: 0.3em;
  padding: 0.65em 1.65em 0em 0.65em;
}

.image-and-description {
  display: flex;
  justify-content: flex-start;
  height: 8em;
}

.contribution-date {
  height: 0.5em;
  flex: 1 1 auto;
  text-align: right;
  margin-top: 0.1em;
  font-size: 0.6em;
  color: #878481;
}

.contribution-image {
  border-radius: 0.15em;
  height: 8em;
  width: 8em;
  min-width: 8em;
  min-height: 8em;
  margin-right: 1em;
}

.date-title-text {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  height: 8em;
  width: 100%; /* MAYBE REMOVE */
  margin-right: 0em;
}

.date-title {
  display: flex;
  justify-content: flex-start;
  height: 1.5em;
  width: 100%; /* MAYBE REMOVE */
  margin-bottom: 0.2em;
}

.historical-date {
  flex: 0 1 auto;
  margin-right: 1.5em;
  font-size: 1em;
  font-weight: 580;
}

.contribution-title {
  flex: 0 1 auto;
  font-size: 1em;
  font-weight: 400;
}

.description {
  color: #424242;
  border-top: 0.1em solid #ddd;
  padding-top: 0.3em;
  display: flex;
  height: 6.5em;
  font-size: 0.8em;
}
