<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-GB" lang="en-GB">
  <head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="profile.css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans"/>
    <title>title</title>
    <link rel="icon" type="image/png" href="/images/apple.png"></link>
    <script async="false" defer="defer" src="profile.js"></script>
  </head>
  <body>

    <ul class="navbar">
      <li><a href="/"><strong><em>tl</em></strong></a></li>
      <li><a href="/profile">Profile</a></li>
      <li><a href="/about">About</a></li>
    </ul>

    <div class="container">
      <div class="profile">
        <img alt="" class="avatar" src="images/ainsley.jpeg"/>
        <div class="name"></div>
        <div class="username"></div>
        <div class="number-contributions"><img alt="" id="contribution-icon" src="images/apple.png"/></div>
        <div class="date-joined"><img alt="" id="member-icon" src="images/apple.png"/></div>
      </div>

      <div class="contributions">
        <div class="contributions-navbar-container">
          <div class="contributions-navbar">
            <button class="contributions-navbar-items"><img alt="" id="sort-icon" src="images/apple.png"/><span id="sortby-button-text">Sort By</span></button>
            <button class="contributions-navbar-items"><img alt="" id="new-contribution-icon" src="images/apple.png"/><span id="contribution-button-text">New Contribution</span></button>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
