<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-GB" lang="en-GB">
  <head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="profile.css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans"/>
    <title><%= user.username %></title>
    <link rel = "icon" type = "image/png" href = "/images/apple.png">
    <script async="false" defer="defer" src="profile.js"></script>
  </head>
  <body>

    <ul class="navbar">
      <li><a href="/"><strong><em>tl</em></strong></a></li>
      <li><a href="/profile">Profile</a></li>
      <li><a href="/about">About</a></li>
      <% if (!user) { %>
      	<li class="navbar-right"><a href="/login">Log in</a></li>
        <li class="navbar-right"><a href="/signup">Sign up</a></li>
      <% } else { %>
      	<li class="navbar-right"><a href="/logout">Log out</a></li>
      <% } %>
    </ul>

    <div class="container">
      <div class="profile">
        <img class="avatar" src="images/ainsley.jpeg"/>
        <div class="name">Ainsley Rutterford</div>
        <div class="username">Ziimzy</div>
        <div class="number-contributions">26 contributions</div>
        <div class="date-joined"><span class="member-icon"></span>Member since May 2019</div>
      </div>
      <div class="contributions">

        <div class="contributions-navbar-container">
          <div class="contributions-navbar">
            <button class="button"><span class="icon"></span>Sort By</button>
            <button class="button"><span class="icon"></span>New Contribution</button>
          </div>
        </div>

      </div>
    </div>
  </body>
</html>
