/* The stylesheet for the entire website at the moment. */

body {
  font-family: 'Open Sans', sans-serif; /* Using Open Sans for the entire page. */
}

h1 {
  color: #000000; /* Black. */
}

p {
  color: #3A3A3A; /* A nice dark grey. */
}

code {
  background-color: #eee;          /* Light grey. */
  border-radius: 3px;              /* Round edges or box. */
  font-family: courier, monospace; /* Change font. */
  padding: 0 3px;                  /* Add padding between text and box. */
}
