/* The stylesheet for the entire website at the moment. */

/* This allows the navbar to extend all the way to the left and right */
* {
  margin: 0;
  padding: 0;
  }

body {
  font-family: 'Open Sans', sans-serif; /* Using Open Sans for the entire page. */
}

/* This is for the central column of content */

h1 {
  color: #000000; /* Black. */
  padding: 1rem 1rem 1rem 1rem; /* top, right, bottom, left */
}

code {
  background-color: #eee;          /* Light grey */
  border-radius: 0.2em;            /* Round edges or box */
  font-family: courier, monospace; /* Change font */
  padding: 0 0.2em;                /* Add padding between text and box */
}

.navbar {
  font-size: 1.1rem;
  background-image: linear-gradient(310deg, #181919 0%, #393a3a  100%);
  display: flex;
  justify-content: space-between;
  height: 4rem;
  align-items: center;
}

.sub-navbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.main-nav {
    list-style-type: none;
    display: flex;
    margin-right: 30px;
    flex-direction: row;
    justify-content: flex-end;
}

.main-nav li {
    text-align: center;
    margin: 0;
    margin-left: 2em;
    min-width: 3rem;
    white-space: nowrap;
    outline: none;
}

.main-nav li a {
    outline: none;
    border: 0.05rem solid transparent;
}

.main-nav li a:focus {
  border: 0.05rem solid rgb(30, 211,252, 0.5);
  outline: none;
}

.nav-links {
    text-decoration: none;
    color: white;
}

.navbar-logo {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.7);
  display: inline-block;
  font-size: 22px;
  margin-left: 20px;
  margin-top: 0;
}

.nav-links:hover {
  color: #ccc;

}

#wanglogo {
  background-image: url("icons/timelinewang.svg");
  width: 10rem;
  height: 2rem;
  z-index: 1;
  margin-left: 1rem;
  outline: none;
}

#wanglogo:hover {
  opacity: 0.6;
}

#wanglogo-container {
  outline: none;  
  border: 0.05rem solid transparent;
}

#wanglogo-container:focus {
  outline: none;
  border: 0.05rem solid rgb(30, 211,252, 0.5);
}

.timeline-heading {
  text-align: center;
  font-size: 8em;
  padding-top: 1em;
}
